<mat-card>
    <h1>Login Form</h1>
    <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()" >
        <div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="example:you@you.com"
                    [(ngModel)]= "email"
                    name = "email"
                    required >
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="example:12345678"
                    [(ngModel)]= "password"
                    name = "password"
                    type="password"
                    required >
                </mat-form-field>
            </div>

            <button  [disabled] ="!loginForm.form.valid" type = "submit" mat-raised-button color="accent">Login</button>
        <br><span style="color:red;padding-top:10px" *ngIf="!!ErrorMessage">{{ErrorMessage}}</span>
        </div>
        
    </form>
    <br/>
    <span>New user?<a href="/register">create an account</a></span>
</mat-card> 