.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-text{
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  color:white;
}

.links-group{
  display:flex;
  width:200px;
  justify-content: space-around;
}

.whitelink {
  /* margin-left:5px; */
  text-decoration:none;
  color:white;
  cursor: pointer;
}
/* 
.right-nav {
  margin-right: 5px;
} */
