<p *ngIf = "!(authService.getUser()|async)"> You are not logged in</p>
<div>
  <button mat-raised-button (click)="addBookFormOpen =! addBookFormOpen" color="primary">Add New Book</button>
  <bookform *ngIf = "addBookFormOpen"
    (update) = "add($event)"
    (closeEdit) = "addBookFormOpen = false"
    [formType] = "'Add book'"
  >
    
</bookform>
</div>
<mat-accordion *ngIf = "(authService.getUser()|async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor="let book of books; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
        <mat-panel-description>
            {{book.author}}
            <button mat-raised-button (click)="deleteBook(book.id)" color="warn">Delete</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-raised-button (click)="editstate[i]=!editstate[i]" color="primary">Edit</button>
      <bookform
       [hidden] = "!editstate[i]"
       [title] = "book.title"
       [author] = "book.author"
       [id] = "book.id"
       [formType] = "'Update book'"
       (update) = "update($event); editstate[i] = !editstate[i]"
       (closeEdit) = "editstate[i] = !editstate[i]"
      >
    </bookform>
      <p>{{book.summary}}</p>
    </mat-expansion-panel>
  </mat-accordion>
<div>
  <button mat-raised-button (click)="nextPage()" color="primary">Next page</button>
  <button mat-raised-button (click)="prevPage()" color="primary">Prev page</button>
</div>

  