<label id="example-radio-group-label">Pick your favorite option</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteOption">
  <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option">
    {{option}}
  </mat-radio-button>
</mat-radio-group>
<div *ngIf="!!favoriteOption">Your favorite option is: {{favoriteOption}}</div>

<mat-form-field style = "width:400px">
  <mat-label>text to classify</mat-label>
  <textarea matInput
            [(ngModel)] = "text"
            name = "text"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="20"></textarea>
</mat-form-field>
<div>
  <button mat-raised-button (click)="classify()" color="primary">Classify</button>
</div>
<div>
  {{category}} <img [src] ="categoryImage">
</div>