<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading Data..</p>
<mat-card class="example-card">
    <mat-card-header>
      <div  class="example-header-image"></div>
      <mat-card-title *ngIf = "!hasError">Temperatures in {{city}}</mat-card-title>
      <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
      <mat-card-subtitle *ngIf = "!hasError">{{country}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-lg-image [src]="image" alt="Temperature">
    <mat-card-content>
      <p>
       Temp: {{(weatherData$ | async).temperature | number:'1.0-0'}}º
      </p>
      <mat-card-subtitle *ngIf = "!hasError"> Latitude: {{lat}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf = "!hasError"> Longitude: {{lon}}</mat-card-subtitle>
      <a routerLink="/city" routerLinkActive="active">Select city</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>